@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body, #root {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: #eee;
}

h1 {
    font-weight: 200;
    font-size: 1.5em;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.App {
    /* white-space: nowrap; */
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.list {
    height: 100%;
    width:33.33333333333333%;
    width: calc(100% / 3);
    border-left:#dedede solid 1px;
    padding: 0 16px;
}

.card {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 10px 10px 10px 15px;
    /* overflow: auto; */
    border: #e5e5df solid 1px;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    background-color: #fff;
    margin-bottom: 5px;
}

.card__title {
    font-weight: bold;
    border-bottom: solid 5px transparent;
}

.card__title:before {
    display: inline;
    width: 1em;
    content: '►';
}

.card__title--is-open:before {
    content: '▼'
}

.card__details {}

.checklist__task:first {
    margin-top: 10px;
    padding-top: 10px;
    border-top: dashed 1px #ddd;
}

.checklist__task--remove:after {
    display: inline-block;
    color: #666;
    content: '+'
}